 form{
    background-color: #c6c6c6;
    margin: 1rem;
    padding: 2rem;
}
h1{
    font-size:1rem;
}
.Login_Box {
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.help_control{
    color :red;
}
